.poke-grid {
	width: 80%;
	margin: 1% 0;
	padding: 5% 3% 3% 3%;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr;
	gap: 1rem;
	overflow: hidden;
}

@media (min-width: 800px) {
	.poke-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.poke-grid {
		padding: 0 4% 3% 4%;
		grid-template-columns: repeat(4, 1fr);
	}
}
