.search {
	height: 100px;
	input[type="text"] {
		display: block;
		padding: 10px;
		font-size: 20px;
		border: 0;
		border-radius: 5px;
		width: 300px;
		margin: 30px auto;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
		outline: none;
		&:focus,
		&:active {
			outline: none;
		}
	}
}

@media (min-width: 300px) {
	.search {
		input[type="text"] {
			width: 100%;
		}
	}
}

@media (min-width: 1024px) {
	.search {
		input[type="text"] {
			width: 400px;
		}
	}
}
